h1 アイテムセットを作る

=form_tag itemsets_path(@itemset), method: :post do
  div class="form-group"
    =label_tag "タイトル"
    =text_field_tag :title
  
  div class="form-group"
    =label_tag "説明"
    =text_area_tag :content
    
  div class="form-group"
    =link_to "チャンピオンを選ぶ", itemsets_path, class: "btn btn-default"
  =hidden_field_tag :champion, @itemset.id
  - if @item0_id.blank?
    div class="form-group"
      =link_to "アイテムを選ぶ", itemsets_path, class: "btn btn-default"
  - else
    div class="form-group"
      =link_to "アイテムを選び直す", itemsets_path, class: "btn btn-default"
  =hidden_field_tag :item0_id
  =hidden_field_tag :item1_id
  =hidden_field_tag :item2_id
  =hidden_field_tag :item3_id
  =hidden_field_tag :item4_id
  =hidden_field_tag :item5_id
  
  div class="form-group"
    =label_tag "非公開"
    =check_box_tag :private
  
  div class="form-group"
    =submit_tag "作成する", class: "btn btn-info"
