h1 チャンピオン一覧

- $champion['data'].each_key do |key|
  = $champion['data'][key]['name']
  p <img src="#{"http://ddragon.leagueoflegends.com/cdn/"+$version+"/img/champion/"+key+".png"}" alt="#{key}" width="64px">
